/* шапка */

.header {
  background: #ffffff;
  list-style: none;
}
.Webstudio {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  list-style-type: none;

  letter-spacing: 0.03em;

  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  color: #2196f3;
}
.Studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
  list-style-type: none;
}
.Студия {
  font-family: "Roboto";
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  padding-left: 93px;
  padding-top: 32px;
  text-decoration: none;
}
.Портфолио {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-left: 53px;
  padding-top: 32px;
  color: #2196f3;
  text-decoration: none;
}
.Контакты {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-left: 53px;
  padding-top: 32px;
  color: #212121;
  text-decoration: none;
}
.mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  padding-left: 331px;
  padding-top: 32px;
  width: 135px;
  height: 16px;
  text-decoration: none;
}
.phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  padding-left: 50px;
  padding-top: 32px;
  width: 135px;
  height: 16px;
  text-decoration: none;
}
/* main */
.midcont {
  background: #f5f4fa;
}
.midcont2 {
  background: #f5f4fa;
}
.midcont3 {
  background: #f5f4fa;
}

.effect {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.zakaz {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.main {
  background: #2f303a;
}

.Пунктуальность {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.Details {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.Ideas {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.Zadorg {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.Plan {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.Consult {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.Sovtech {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.znach {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.Chem {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.ourteam {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.position {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.Webstudio2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-decoration: none;

  color: #2196f3;
}
.adresa {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  text-decoration: none;

  color: #ffffff;
}
.footer {
  background: #2f303a;
}
.Studio2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: white;
}
.mulo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.mulo2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.tele {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.tele2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.ConsultConsult {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  color: #757575;
}
nav ul li {
  list-style-type: none;
}
nav ul li {
  display: inline;
}
ul {
  list-style: none;
}
* {
  magrin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  max-width: 1600px;
  height: 1880px;
  background: #ffffff;
}
